body {
    background-color:#1c4170;
    color: #fff;
}

#rest-output ul {
    list-style-type: none;
    text-align: center;
    
}

input {
    color: black;
}

#rest-output {
    min-height:200px;
    font-family: 'Coustard', serif;
    text-align: center;

}

#search {

    text-align: center;


}

#wrapper {

    min-height: 500px;
    margin-top: auto ;
    margin-top: auto ;
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;

}

#progressBar {
    background-image:url("../images/nyan.gif");
    background-repeat:no-repeat;
    background-size:contain;
    height:256px;width:256px;
    margin-left: auto  ;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

#heading {
    font-family: 'Schoolbell', cursive;
    font-size: 2em;

}
#heading:before{
    content:"\1F43E \0000a0";
}
#heading:after{
    content:"\0000a0 \1F43E";
}
.fadeLink {
    opacity: 0; visibility: hidden;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
    width: 100px;
    margin-left: auto  ;
    margin-right: auto;}

div:hover .fadeLink { visibility: visible; opacity:0.7;}

.center {width: 300px;
    margin-left: auto  ;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }